{{ define "body_classes" }}page-post{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-2 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <br>
        <h2>{{.Title}}</h2>
        <br>
        <!-- {{ partial "call.html" (dict "site" .Site "context" . "show_button" "false") }} -->
        <div class="content">{{.Content}}</div>
        <br><br>
        <h3 style="text-align:left; font-weight: bold; margin-bottom: .2em;">Subscribe</h3>
        <form action="https://mm.adcompsystems.com/subscribe" method="POST" accept-charset="utf-8">
          <label for="name">Name</label><br/>
          <input type="text" name="name" id="name"/>
          <br><br>
          <label for="email">Email</label><br/>
          <input type="email" name="email" id="email"/><br/><div style="display:none;">
          <label for="hp">HP</label><br/>
          <input type="text" name="hp" id="hp"/>
          </div>
          <input type="hidden" name="list" value="qzEmikHHFHy3LpFmmgKAVw"/>
          <input type="hidden" name="subform" value="yes"/>
          <br>
          <input type="submit" name="submit" id="submit"/>
        </form>
      </div>
    </div>
  </div>
</div>

{{ end }}